name: Publish package

on:
  release:
    types: [published]

jobs:
  build:
    environment:
      name: npmjs
      url: https://www.npmjs.com/package/@dotforge/core
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: '24.x'
          registry-url: 'https://registry.npmjs.org'
          scope: '@dotforge'
      - run: npm ci
      - run: npm run build
      - run: npm publish
